server:
  port: 8083

ip: localhost

spring:
  application:
    name: order-service
  cloud:
    nacos:
      server-addr: ${ip}:8848
      discovery:
        namespace: higress-system
      config:
        file-extension: yaml
        namespace: higress-system
  config:
    import: optional:nacos:${spring.application.name}

  data:
    redis:
      host: ${ip}
      password: redis123
      port: 6379

  datasource:
    url: jdbc:mysql://${ip}:3306/shop_goods?useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&transformedBitIsBoolean=true&allowMultiQueries=true&useSSL=false&allowPublicKeyRetrieval=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=Asia/Shanghai
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  mybatis-plus:
    mapper-locations: classpath*:mapper/*.xml
    type-aliases-package: com.huangyuan.orderinfrastructure.persistence.po
    configuration:
      map-underscore-to-camel-case: true
      log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

  logging:
    pattern:
      console: "%msg%n"

# Dubbo配置
dubbo:
  application:
    name: dubbo-${spring.application.name}
  registry:
    id: nacos
    address: nacos://${ip}:8848
  protocol:
    name: dubbo     #设置类型
    port: -1      #因为dubbo的服务器端口号是不能唯一的，所以，设置为-1会帮我们自动改变端口号
  config-center:
    timeout: 120000  #超时时间  （毫秒）