server:
  port: 8082

spring:
  application:
    name: file-service
  cloud:
    nacos:
      server-addr: host.docker.internal:8848
#      server-addr: localhost:8848
      discovery:
        namespace: higress-system
      config:
        file-extension: yaml
        namespace: higress-system
  config:
    import: optional:nacos:${spring.application.name}