<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huangyuan.goodsinfrastructure.persistence.mapper.BrandMapper">

    <select id="existsById"
            resultType="boolean">
        SELECT COUNT(1)
        FROM brand
        WHERE id = #{id}
    </select>

    <select id="selectBrandIds"
            resultType="java.lang.Integer">
        SELECT brand_id
        FROM brand
        WHERE category_id = #{categoryId}
    </select>

    <select id="selectByBrandIds"
            resultType="com.huangyuan.goodsinfrastructure.persistence.po.BrandPo">
        SELECT *
        FROM brand
        WHERE id IN
        <foreach collection="brandIds" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

</mapper>